@{
    ViewBag.Title = "XacNhanThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cảm ơn bạn đã quyên góp</h2>
<h3>Chúng tôi sẽ gửi đến các hoàn cảnh khó khăn sớm nhất có thể !</h3>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</p>

<h2>XacNhanThanhCong</h2>

